<div class="container">
<img class="login-page-background-image" src="assets/login-image.jpg">
<div class="form-wrapper">
  <div class="content">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <img src="assets/me-logo.svg" class="logo">
        <div class="input-container">
          <input type="text" class="input-field" placeholder="Username"pInputText formControlName="email" />
          <small class="p-error " *ngIf="emailControl.invalid && emailControl.touched">
            <div *ngIf="emailControl.errors?.['required']">Email is required.</div>
            <div *ngIf="emailControl.errors?.['pattern']">Please enter a valid email address.</div>
            <div *ngIf="emailControl.errors?.['maxlength']">Email cannot exceed 100 characters.</div>
          </small>
           </div>
           <div class="input-container" >
            <p-password formControlName="password"  placeholder="Password" [feedback]="false" [toggleMask]="true" />
            <small class="p-error " *ngIf="passwordControl.invalid && passwordControl.touched">
              <ng-container *ngIf="passwordControl.errors?.['required']">Password is required.</ng-container>
              <ng-container *ngIf="passwordControl.errors?.['minlength']">Password must be at least 6 characters long.</ng-container>
              <ng-container *ngIf="passwordControl.errors?.['maxlength']">Password cannot exceed 50 characters.</ng-container>
            </small>
        </div>
        <div class="submit-button card flex justify-content-center">
          <button
              pButton
              pRipple
              label="LOGIN"
              [disabled]="loginForm.invalid">
          </button>
      </div>
             <div class="forgot-password">
               <a href="#">Forgot your password?</a>
             </div>
           </form>
  </div>
</div>
</div>
